<header class="header">
  <h1>Прогноз погоды в режиме онлайн</h1>
  <div class="header__container">
    <div>
      <button class="header__container-button" (click)="openModalDialog()">Выбор города</button>
    </div>
    <div class="header__container-button-container">
      <div>Режим отслеживания:&nbsp;&nbsp;&nbsp;</div>
      <button class="header__container-button" (click)="startStrim()" [disabled]="disabledButton$ | async" >Включить</button>
      &nbsp;&nbsp;
      <button class="header__container-button" (click)="stopStrim()" [disabled]=" !(disabledButton$ | async)" >Остановить</button>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="footer">&nbsp;</footer>

<div *ngIf="modalDialog$ | async">
  <app-modal></app-modal>
</div>
